# Copyright (c) 2021-2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HILLSIDE46_LEFT

config ZMK_KEYBOARD_NAME
    default "Hillside46"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

CONFIG_PINCTRL=y
endif

#Lagt till detta för att dispaylen skall funka 2024-10-22
CONFIG_DISPLAY=y
CONFIG_SSD1306=y



if SHIELD_HILLSIDE46_LEFT || SHIELD_HILLSIDE46_RIGHT

config ZMK_SPLIT
    default y

endif
